* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  height: 450px;
  max-height: 90vh;
  width: 800px;
  max-width: 90vw;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 60px -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1 {
  padding: 0 3em;
  margin-bottom: 2em;
  text-align: center;
}
button {
  font-size: 1.25em;
  padding: 0.5em 1em;
}
.copyright {
  margin-top: 20px;
  text-decoration: underline;
  font-style: italic;
}